fastapi==0.110.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9

keras==3.3.3
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
h5py==3.10.0

numpy==1.26.4
scipy==1.11.4
soundfile==0.12.1
librosa==0.10.1
audioread==3.0.1
soxr==0.3.7
